{% include 'partials/nav.njk' %}

{#
{% for ecoponto in ecopontos %}
<center>
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">{{ecoponto.titulo}}</h6>
      <p class="card-text">{{ ecoponto.descricao }}</p>

      <form action="/app/ecoponto/{{ ecoponto._id }}?_method=DELETE" method="POST">

        <button type="submit" class="btn btn-danger">Remover</button>
      </form>
    </div>
  </div>
</center>
{% endfor %} #}

<center>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col" class="text-center">Latitude / Longitude</th>
      <th scope="col" class="text-center">Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for ecoponto in ecopontos %}
    <tr>
      <td>{{ecoponto.titulo}}</td>
      <td>{{ ecoponto.descricao }}</td>
      <td class="text-center">{{ ecoponto.latitude }} / {{ ecoponto.longitude }}</td>
      <td class="text-center">
        <form action="/app/ecoponto/{{ ecoponto._id }}?_method=DELETE" method="POST">
          <button onclick="excluir_registro( event );" type="submit" class="btn btn-danger btn-sm">x</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</center>

<script type="text/javascript">
function excluir_registro( e ){
	if( !confirm('Confirma a exclusão?') )
	{
		if( window.event)
			window.event.returnValue=false;
		else
			e.preventDefault();
	}
}
</script>
