{% extends 'layouts/default.njk' %}

{% block body %}
  <figure class="figure">
    <img src="/mapa.jpg" class="img-fluid" >
  </figure>
  <figure class="figure">
    <img src="/cronograma.jpg" class="img-fluid" >
  </figure>
{% endblock %}
